<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!-- 方式一 -->
        <import resource="classpath:com/bigwhite/di07/spring-person.xml"/>
        <import resource="classpath:com/bigwhite/di07/spring-student.xml"/>
        <!-- 方式二，通配符 -->
         <import resource="classpath:com/bigwhite/di07/spring-*.xml"/>
</beans>